<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<connectionStrings>

		<add name="ConnectionString" connectionString="Password=clave123;Persist Security Info=True;User ID=sa;Initial Catalog=BORA_DelegacionVirtual;Data Source=192.168.1.74\sql2005" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>