<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>

		<add name="ConnectionString" connectionString="Data Source=10.1.39.216;Initial Catalog=PreCargados;user id=usr_precargados;password=clave123;Persist Security Info=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>